// nextflow.conf

executor {
    name = 'slurm'
    queueSize = 2000
}

docker {
    enabled = true
}

report {
    enabled = true
    file = 'reports/report.html'
}

trace {
    enabled = true
    file = 'reports/trace.txt'
}

timeline {
    enabled = true
    file = 'reports/timeline.html'
}

dag {
    enabled = true
    file = 'reports/dag.dot'
}

process.container = 'nextflow/dockers'

process {
    executor='local'
    scratch=false
    maxRetries=1
    errorStrategy='retry'
    container = 'pprietob/star-nf'
    
}

process count {
    executor='local'
    scratch=false
    maxRetries=1
    errorStrategy='retry'
    container = 'evolbioinfo/subread:v2.0.1'
    cpus = 12
    memory='40G'
}
