// nextflow.conf

executor {
    name = 'slurm'
    queueSize = 2000
}

docker {
    enabled = true
}

report {
    enabled = true
    file = 'reports/report.html'
}

trace {
    enabled = true
    file = 'reports/trace.txt'
}

timeline {
    enabled = true
    file = 'reports/timeline.html'
}

dag {
    enabled = true
    file = 'reports/dag.dot'
}

process.container = 'nextflow/dockers'

process {
    executor='local'
    scratch=false
    maxRetries=30
    errorStrategy='retry'
    
    withName:GSE {
        container = 'huangyuan2000/geo_download_to_s3'
    }
    withName:NCBI-SRA {
        container = 'ncbi/sra-tools'
    }
    withName:pyEGA {
        container = 'quay.io/biocontainers/pyega3:3.4.0--py_0'
    }
    
}
