// nextflow.conf

executor {
    name = 'slurm'
    queueSize = 2000
}

docker {
    enabled = true
}

report {
    enabled = true
    file = 'reports/report.html'
}

trace {
    enabled = true
    file = 'reports/trace.txt'
}

timeline {
    enabled = true
    file = 'reports/timeline.html'
}

dag {
    enabled = true
    file = 'reports/dag.dot'
}

// utile ? :
process.container = 'nextflow/dockers' 

process {
    executor='local'
    scratch=false
    maxRetries=30
    errorStrategy='retry'
	container = 'pprietob/star-nf'

    /*withName: 'getSRAIDs' {
    }*/

    withName: 'fastqDump' {
    cpus=6
    memory=20.GB
    }

    withName: 'gtf' {
    cpus=1
    }

    withName: 'index' {
    	cpus=6
    	memory=40.GB
    }

    withName: 'mapping' {
	cpus=6
	memory=40.GB
    }

    withName: 'mapping2' {
	cpus=6
	memory=40.GB
    }

    withName: 'count'{
        container = 'evolbioinfo/subread:v2.0.1'
        cpus = 12
        memory = 40.GB
    }

    withName: 'stat_analysis' {
        container = 'evolbioinfo/deseq2:1.28.1'
        cpus = 12
        memory = 40.GB
    }
}
